.statistic {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  color: #594E4E;
  letter-spacing: 1.5px;
  line-height: 30px;
}

.number {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
}
  
.hr {
  width: 100%;
}
  
.info {
  width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}