.page {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #594e4e;
  letter-spacing: 0.8px;
  line-height: 30px;
}

.cover {
  width: 100%;
  height: 707px;
}

.img_cover {
  display: flex;
  width: 100%;
  height: 100%;
  background: url(../../images/menu/menu_cover.png) center/cover;
  justify-content: center;
  align-items: center;
}

.cover_heading {
  width: 311px;
  height: 350px;
  border-top: 1px solid;
  border-left: 3px solid;
  border-radius: 0px 0px 60px 60px;
  gap: 40px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.cover_text {
  width: 291px;
  height: 300px;
  text-transform: uppercase;
  font-size: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.heading01 {
  margin-top: 30px;
  width: 100%;
  font-weight: 100;
}

.heading02 {
  width: 100%;
  font-weight: 500;
}

.heading03 {
  width: 100%;
  font-weight: 800;
}

.order {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  letter-spacing: 2px;
  background-color: #594e4e;
  text-align: center;
  padding: 14px 0px;
  color: #f5eaea;
  border-radius: 0px 0px 60px 60px;
}

.overlay {
  margin: 0;
  background-color: rgb(0, 0, 0, 0.5);
  width: 50%;
  height: 100%;
  border: 1px solid;
}

.content_decor {
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(0px -100px 50px #fff);
}

.menu {
  width: 100%;
  height: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.line01 {
  margin: 0;
}

.menu_content {
  width: 1024px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.btn_menu {
  color: #594e4e;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}
