.header {
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: #594e4e;
  color: #f5eaea;
  filter: drop-shadow(0px 5px 50px #594e4e);
  z-index: 1;
  position: relative;
}

.menuBlock {
  background: #fff;
}

.navigation {
  width: 79%;
  height: 100%;
  display: grid;
  grid-template-columns: max-content 1fr 0.1fr max-content;
}

button {
  background: none;
  border: none;
}

.logo {
  display: flex;
  align-items: flex-end;
  height: 80%;
  width: 100%;
  color: #f5eaea;
}

.logo01,
.logo03 {
  width: 75%;
  height: 75%;
  rotate: 169deg;
}

.logo03 {
  rotate: 135deg;
}

.logo02,
.logo04 {
  width: 50%;
  height: 50%;
  rotate: 100deg;
}

.logo04 {
  rotate: 50deg;
}

.themes {
  display: flex;
  justify-content: center;
  width: 25%;
  gap: 5%;
}

.themeMenu {
  display: none;
}

.theme {
  height: 60%;
  width: 100%;
  opacity: 0.7;
}

.language {
  grid-column: 3;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 5%;
}

.ru,
.en {
  all: inherit;
}

.menu,
.close {
  width: 100%;
  height: 80%;
  cursor: pointer;
  color: #f5eaea;
}

.languageMenu,
.logoMenu,
.ruMenu,
.enMenu,
.close {
  color: #594e4e;
}

.dropdownmenu {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.drop_content {
  display: grid;
  grid-template-rows: 1.4fr 0.3fr 0.5fr 0.5fr 0.6fr;
}

body::-webkit-scrollbar {
  display: none;
}

.menu_links_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 5%;
}

.nav_link {
  text-decoration: none;
  color: #594e4e;
}

.autorization {
  height: 50%;
  width: 25%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content 1fr;
  color: #594e4e;
  font-weight: 600;
}

.validation,
.entrance {
  text-decoration: underline;
  color: #594e4e;
  font-size: 80%;
  font-weight: 600;
}

.messages {
  display: flex;
  width: 9%;
  gap: 15%;
}

.massage {
  width: 100%;
  padding: 2%;
  color: #594e4e;
  border: 1px solid #594e4e;
  border-radius: 50%;
}

.decor {
  mix-blend-mode: exclusion;
  width: 100%;
}

.barcode {
  display: flex;
  align-items: flex-end;
  font-family: 'Libre Barcode 128 Text', system-ui;
  font-size: 250%;
  font-weight: 300;
  text-transform: uppercase;
  color: #594e4e;
}
